.container2{
    display: flex;
    align-items: start;
}

.experience h3{
    text-align: start;
}

.experience-container{
    display: flex;
    align-items: center;
}

.item-e{
    width: 325px;
    height: 200px;
    background-size: cover;
    margin: 1rem 1rem 1rem 0;
    border-image: fill 0 linear-gradient(#0001, #000);
    display: flex;
    justify-content: flex-end;
}

.item-data{
    background-color:var(--bg-100);
    opacity: 0.9;
    padding: 20px 5px 0 10px;
    width: 150px;
    text-align: end;
}

.item-data h4{
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--text-100);
}

.item-data p{
    text-align: end;
    font-size: 16px;
    padding: .5rem 0;
    color: var(--text-100);
}

.item-data span{
    padding: .5rem 0;
    color: var(--accent-100);
}

.someProjects{
    text-align: start;
    padding: 0 2rem;
}

.someProjects-container span{
    padding-top: 4rem;
    color: var(--accent-100);
    font-size: 12px;
}

.someProjects-container ul{
    padding: 1rem 0;
}

.someProjects-container ul li{
    padding: .5rem 0;
    cursor: pointer;
    color: var(--text-100);
    font-weight: 500;
}

.someProjects-container ul li:before {
    content: ">";
    display: inline-block;
    padding: 5px;
}

@media (max-width: 1440px){
    .experience-container{
        flex-wrap: wrap;
    }
}

  @media (max-width: 1024px) {
    .item-e {
        width: 260px;
    }
  }

  @media (max-width: 800px) {
    .item-e{
        width: 270px;
    }
  }

  @media (max-width: 515px) {
    .container2{
        flex-direction: column;
    }

    .experience-container{
        justify-content: center;
    }

    .experience h3{
        text-align: center;
    }

    .someProjects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        width: 100%;
    }
  }

