.contact {
  margin-top: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.item-c {
  width: 175px;
  height: 175px;
  border-radius: 8px;
  background-color: var(--bg-100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem;
  border: 1px solid var(--primary-300);
}

.item-c .icon-contact {
  width: 27px;
  height: 27px;
  color: var(--accent-100);
}

.item-c h4 {
  font-size: 20px;
  padding: 8px 0;
  letter-spacing: 2px;
  color: var(--primary-200);
}

.item-c span,
.item-c a {
  color: var(--text-100);
  font-size: 12px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.item-c span:hover,
.item-c a:hover {
  color: var(--accent-100);
}

.contact-form {
  padding: 2rem 0;
}

.contact-form form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact-form form label {
  margin: 1rem 0 5px 0;
  color: var(--text-200);
}

.contact-form form input {
  width: 375px;
  padding: 4px;
  border-radius: 9px;
  background-color: var(--bg-100);
  border: 2px solid var(--primary-200);
  color: var(--text-100);
  letter-spacing: 1.5px;
}

.contact-form form textarea {
  width: 375px;
  height: 200px;
  margin-bottom: 2rem;
  resize: none;
  border-radius: 9px;
  background-color: var(--bg-100);
  border: 2px solid var(--primary-200);
  color: var(--text-100);
  letter-spacing: 1.5px;
}

button {
  padding: 5px;
  width: 170px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--bg-100);
  color: var(--accent-100);
  border: 2px solid var(--primary-200);
}

button:hover{
  transform: scale(1.1);
  color: var(--primary-300);
}

.tooltip {
  position: fixed;
  top: 20px;
  left: 48%;
  padding: 10px 20px;
  background-color: var(--accent-100);
  color: var(--text-100);
  border-radius: 5px;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 580px) {
  .item-c {
    width: 140px;
    height: 140px;
  }

  .item-c .icon-contact {
    width: 20px;
    height: 20px;
  }

  .item-c h4 {
    font-size: 16px;
  }

  .item-c span,
  .item-c a {
    font-size: 9px;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 320px;
  }
}
