@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "New Amsterdam", sans-serif;
  transition: ease-in .3s;
  scroll-behavior: smooth;
}

:root{
  --primary-100:#6c35de;
  --primary-200:#a364ff;
  --primary-300:#ffc7ff;
  --accent-100:#cb80ff;
  --accent-200:#2e2e2e;
  --text-100:#ffffff;
  --text-200:#e0e0e0;
  --bg-100:#241b35;
  --bg-200:#25202d;
  --bg-300:#4d425f;

    
}

.light-theme {
  --primary-100:#3F51B5;
  --primary-200:#757de8;
  --primary-300:#dedeff;
  --accent-100:#2196F3;
  --accent-200:#003f8f;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --bg-100:#FFFFFF;
  --bg-200:#dddddd;
  --bg-300:#bfbfbf;
    
    
}

.App{
  background-color: var(--bg-200);
}

p, ul li, button{
  font-family: "Work Sans", sans-serif;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

h2{
  font-size: 35px;
  color: var(--text-100);
  font-weight: 600;
}

h3{
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-300);
}

button{
  padding: 15px 25px;
  border: none;
  border: 1px solid var(--bg-300);
  background-color: var(--bg-300);
  color: var(--text-100);
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
  &:hover{
    background-color: var(--primary-200);
    color: var(--text-100);
  }
}

.container {
  text-align: center;
  padding: 3rem 5rem;
}

.container h2{
  font-size: 45px;
  padding: 1rem;
}

@media (max-width: 800px) {
  .container {
    padding: 2rem 4rem;
  }
}

@media (max-width: 560px) {
  .container h2 {
    font-size: 38px;
    padding: 1rem 0;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 3rem;
  }
}